* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
}

body{
    background: linear-gradient(40deg, #000000, #383838);
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.content-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 150px 400px;
}

.form {
    background-color: rgba(0, 255, 255, 0.541);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px;
    border-radius: 40px;
    border: 2px solid #000;
    overflow: hidden;
    z-index: 1;
}

.form::after {
    background: linear-gradient(to left, rgb(255, 0, 140), #ff0, #3f3);
    position: absolute;
    content: "";
    width: 1000px;
    height: 1000px;
    animation: rotar 2s linear infinite;
    border: 1px solid transparent;
    border-radius: 50%;
}

@keyframes rotar {
    to {
        rotate: 0deg;
    }
    from {
        rotate: -360deg;
    }
}

.form::before {
    background-color: #000000;
    position: absolute;
    content: "";
    width: 895px;
    height: 490px;
    z-index: 5;
    border-radius: 38px;
}

.form__input {
    background-color: #333;
    width: 500px;
    margin: 8px;
    padding: 10px;
    border: none;
    outline: none;
    border: 2px solid #000;
    z-index: 10;
    border-radius: 20px;/* 
    border-bottom: 2px solid #f00; */
}

.form__input:hover {
    box-shadow: 0px 0px 20px #333, 0px 0px 20px #333;
    transition: scale 1s;
    scale: 1.12;
}

.form__input:focus {
    box-shadow: 0px 0px 20px #333, 0px 0px 20px #333;
    transition: scale .2s;
    scale: 1.11;
}
.form__input::placeholder {
    color: #555;
}

.opt {
    text-align: center;
}
